{%extends 'base.html'%}
{%block content%}
<div>
    <div>
        {{message}}

    </div>
    <div class="text-center">
            <a href="{% url 'print_bill' id=bill.id %}" class="btn btn-primary btn-rounded mb-4">Proceed to Bill Print</a><br/>
        </div>
    <form method="post">{%csrf_token%}
        <label>Barcode</label>
        <input type="number" required name="barcode">
        <br>
        <label>Quantity</label>
        <input type="number" required name="quantity">
        <br>
        <input  class="btn btn-primary btn-rounded mb-4" type="submit"value="ADD">

    </form>
</div>
{%endblock%}