{% extends 'base.html'%}
{% block content%}
<div style="margin:auto;padding:100px;border:2px solid black">
    <p class="h3">Login Page</p>
    <form method="post">{%csrf_token%}

        <label>Username:</label>
        <input type="text" name="username" class="form-control"><br>
        <label>Password:</label>
        <input type="password" name="password" class="form-control"><br>
        <button  style="margin:12px" type="submit"  class="btn btn-primary btn-rounded mb-4" >Log In</button>
    </form>

</div>
{%endblock%}
