{% extends 'base.html'%}
{% block content%}
<div>
    <div class="card-body">
        <div class="text-right">
            <a href="{% url 'register_product'%}" class="btn btn-primary btn-rounded mb-4">Add</a><br/>
        </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price Rate</th>
                                    <th>MFD</th>
                                    <th>EXP</th>
                                    <th>barcode</th>
                                    <th rowspan="2"> Controls</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{product.product_name}}</td>
                                    <td>{{product.product_quantity}}</td>
                                    <td>{{product.product_price}}</td>
                                    <td>{{product.product_mfd}}</td>
                                    <td>{{product.product_exp}}</td>
                                    <td>{{product.product_barcode}}</td>
                                    <td><a href= "{% url 'delete_product' slug=product.slug %}" class="btn btn-danger">Delete</a>
                                        <a href="{% url 'edit_product' slug=product.slug %}" class="btn btn-info">Edit</a></td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
</div>
{% endblock%}