{% extends 'base.html'%}
{% block content%}
<div>
    <div class="card-body">
        <div class="text-right">
            <a href="{% url 'register_product'%}" class="btn btn-primary btn-rounded mb-4">Add</a><br/>
        </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Heading</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Active</th>
                                    <th>Category</th>
                                    <th>Author</th>
                                    <th rowspan="2"> Controls</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{item}}</td>
                                    <td>{{item}}</td>
                                    <td>{{item}}</td>
                                    <td>{{item}}</td>
                                    <td>{{item}}</td>
                                    <td></td>
                                    <td><a href= "{% url 'delete_product' slug=item.slug %}" class="btn btn-danger">Delete</a>
                                        <a href="{% url 'edit_product' slug=item.slug %}" class="btn btn-info">Edit</a></td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
</div>
{% endblock%}